popover {
  #popover{
    background-color: color($colors,backgroundWhite);
    padding:0px;
  }

ion-row{
  color: color($colors,dark);
  font-size: 15px;
}
ion-icon{
  padding-right: 1em;
}

.custom-popover.popover-content {
  width: 130px;
}

}
