page-event-open {
#eventOpen{
  background-color: color($colors,backgroundWhite);
}
P{
  color: color($colors,dark);
  font-size: 15px;
}
h2{
  color: color($colors,dark);
  font-size: 20px;
}
.img{
  border-radius:8px;
}

}
