<ion-content padding id='event'>
  <h1></h1>
  <h1 text-center text-sm-ceter text-md-center text-lg-center class="title">EVENEMENT</h1>


  <ion-card *ngFor="let event of events" (click)="openCardPage(event.id)">

    <img *ngIf="event.main_image" [src]="event.main_image.original.url" [alt]="event.title" />

    <ion-card-content>
      <ion-card-title>
        {{ event.title }}
      </ion-card-title>
      <p text-wrap>
        {{ event.summary }}
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>
