page-publication {
  #publication {
    background-color: color($colors,backgroundGreen);
  }

  .thread-card {
    height: 15vh;
  }

  ion-row {
    margin: 1vh;
  }

  .col {
    padding: 1vh;
  }

  img.post-image {
    width: auto;
    object-fit: contain;
    height: 11vh;
    margin: 0 auto;
  }

  ion-label {
    color: grey;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  h1 {
    color: color($colors,backgroundWhite);
    font-size: 24px;
  }

  h3 {
    color: color($colors,dark);
    padding-top: 0 !important;
    margin-left: -1em;
  }

  .card {
    cursor: pointer;
  }

  .bg-image {
    height: 238px;
  }

  ion-note {
    padding-left: 1em;
  }

  ion-icon {
    color: color($colors,backgroundWhite);
    font-size: 24px;
    cursor: pointer;
    margin-top: -.2em;
  }

  .title {
    padding-bottom: 13em;
  }

  ion-card {
    height: 5.5em;
  }

  .more {
    font-size: 17px;
  }

  ion-row {
    margin-bottom: -1em;
  }
}
