<ion-content class="background" scroll="true">
  <img class='bg-image' src="assets/imgs/publicationbg.jpg">
</ion-content>

<ion-content padding id='publication'>
  <br>
  <ion-row class='title'>
    <ion-col col-1>
    </ion-col>

    <ion-col col-10>
      <h1 text-center>PUBLICATION</h1>
    </ion-col>

    <ion-col col-1>
      <ion-icon name="arrow-forward" (click)="goback()"></ion-icon>
    </ion-col>
  </ion-row>

  <!-- go to new post page -->
  <ion-card class="canvas-card">
    <ion-grid>
      <ion-row class="canvas-row">
        <ion-col col-2 float-right class="canvas-col">
          <canvas id='publication-avatar'></canvas>
        </ion-col>
        <ion-col col-8 (click)="openNewPostPage()">
          <ion-label id='canvas-row-label'>Dis moi quelque chose...</ion-label>
        </ion-col>
        <ion-col col-2>
          <button id='canvas-row-button' ion-button small float-right (click)="openNewPostPage()">Ok</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- main ngFor -->
  <ion-card class="thread-card" *ngFor="let thread of threads">
    <ion-row>
      <ion-col col-3 (click)="openPostPage(thread.id)">
        <h3>{{ thread.localeDateString }}</h3>
      </ion-col>

      <ion-col col-4 (click)="openPostPage(thread.id)">
        <img class='post-image' *ngIf="thread.main_image" [src]="thread.main_image.original.url" width="568">
      </ion-col>

      <ion-col col-4 float-right (click)="openPostPage(thread.id)">
        <h3>{{ thread.title.length < 32 ? thread.title : thread.title.substring(0, 32) + '...' }}</h3>
      </ion-col>

      <ion-col col-1>
        <ion-icon class='more' name="more" color="dark" (click)="presentPopover($event, thread.id)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- reach bottom to load more-->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content *ngIf="page !== 0" loadingText="<p>Chargement en cours...</p>">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div *ngIf="page === 0">Plus de données disponibles.</div>

</ion-content>
