<ion-header>

  <ion-navbar>
    <ion-title *ngIf='thread'>{{ thread.title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding id='postOpen'>
  <div tappable *ngIf='thread'>

    <!-- content section -->
    <h4 class='title'>{{ thread.title }}</h4>
    <ion-row class="head">
      <ion-col col-2 class="canvas-col">
        <canvas id="canvas-author"></canvas>
      </ion-col>
      <ion-col col-6 text-left>
        <h2 class='name-location'>{{ thread.author.firstname }}</h2>
        <b class='name-location location'>{{ thread.location }}</b>
      </ion-col>

      <ion-col col-4>
        <ion-note color="grey">{{ thread.timeSince }}</ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <p>{{ thread.posts[0].content }}</p>
    </ion-row>
    <img *ngIf="thread.main_image" [src]="thread.main_image.original.url" alt="main image">
    <br>
    <br>

    <!-- leave comment section -->
    <ion-row id="leave-comment-row">
      <ion-col col-2>
        <canvas id="canvas-user"></canvas>
      </ion-col>
      <ion-col col-8>
        <ion-input id='leave-comment-input' (focus)="leaveCommentInputOnSelect()" limit-to="255" [(ngModel)]="commentInput" placeholder="Ajouter un commentaire" type="text"></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-button small float-right (click)="doComment()">Ok</button>
      </ion-col>
    </ion-row>

    <!-- comments section -->
    <ion-item *ngIf="thread.posts.length > 1">
      <!-- First post is the content of thread -->
      <ion-grid>
        <ion-row #commentrow class='commentrow' *ngFor="let post of thread.posts | slice:1">
          <ion-col col-2>
            <canvas [id]="'canvas-comment-' + post.id"></canvas>
          </ion-col>
          <ion-col col-9 text-wrap>
            <h5>{{ post.author.firstname }}</h5>
            <b class='input'>{{ post.content }}</b>
          </ion-col>
          <ion-col col-1>
            <ion-icon [name]="post.is_current_user_like ? 'heart' : 'heart-outline'" (click)="togglePostLike(post)" color="red" small></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>

<ion-footer id="post-open-footer">
  <ion-toolbar>
    <ion-row>
      <ion-col *ngIf='thread' col-4>
        <b class='number'>{{ thread.favorite_count }}</b>
        <ion-icon [name]="thread.favorite ? 'star' : 'star-outline'" (click)="toggleThreadFavorite(thread)" class='collection'></ion-icon>
      </ion-col>
      <ion-col *ngIf='thread' col-8 text-right>
        <b class='number'>{{ thread.like_count }}</b>
        <ion-icon [name]="thread.posts[0].is_current_user_like ? 'heart' : 'heart-outline'" (click)="togglePostLike(thread.posts[0], thread)" class='like'></ion-icon>
        <b class='number'>{{ thread.reply_count }}</b>
        <ion-icon [name]="'square-outline'" class='comment'></ion-icon> <!--(click)="openCommentPage(thread.id)"-->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
