page-search {
  $infinite-scroll-loading-color: black;

  #search {
    background-color: color($colors,backgroundWhite);
  }

  #hint-reach-bottom {
    color: #000;
    padding-left: 10vw;
  }

  .row-thread-content {
    height: 15vh;
  }

  ion-navbar {
    background-color: transparent;
  }

  ion-searchbar {
    margin-left: -1em;
  }

  ion-row.etiquette {
    margin-left: 7em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: color($colors,backgroundWhite);
  }

  img.post-image {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: auto;
    max-height: 100%;
    max-width: 90%;
  }

  ion-item.results {
    background-color: color($colors,backgroundWhite);
    border-radius: 0;
  }

  .title {
    color: color($colors,dark);
    font-weight: 400;
    font-size: 15px;
  }
}
