page-bbcercle {
  #bbcercle {
    background-color: color($colors, backgroundGreen);
  }
  
  canvas {
    width: 5em;
    height: auto;
  }

  .post-image {
    max-height: 40vh;
    width: auto;
    margin: 0 auto;
  }

  h1 {
    color: color($colors, backgroundWhite);
    font-size: 24px;
  }

  ion-avatar {
    padding-top: 1em;
  }

  h2 {
    color: color($colors, dark);
    font-size: 24px;
  }

  h3 {
    color: color($colors, dark);
    font-size: 24px;
    font-weight: 500;
  }

  b {
    color: color($colors, grey);
    font-size: 15px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 1em;
  }

  b.time {
    color: color($colors, grey);
    font-size: 12px;
    font-weight: 400;
  }

  .card-content {
    cursor: pointer;
  }

  .more {
    cursor: pointer;
  }

  ion-card-content.card-head {
    cursor: auto;
  }

  ion-icon.arrow {
    color: color($colors, backgroundWhite);
    font-size: 24px;
    cursor: pointer;
  }

  ion-icon.collection {
    font-size: 23px;
    color: color($colors, yellow);
  }

  ion-icon.like {
    font-size: 20px;
    color: color($colors, red);
  }

  ion-icon.comment {
    font-size: 20px;
    color: color($colors, primary);
    padding-right: 2rem;
  }

  ion-note.time {
    margin-top: 1em;
    padding-top: 6px;
    padding-left: 1em;
    color: color($colors, grey);
  }

  .card-head {
    margin-bottom: -1em;
  }

  ion-img {
    background: transparent;
  }

  .etiquette {
    background: transparent;
    margin-top: -1em;
    margin-bottom: -.5em;
    margin-left: 60vw;
    width: 20px;
    height: auto;
  }

  ion-row.head {
    align-items: stretch;
    margin-top: -1.5em;
  }

  ion-row.foot {
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
  }
}
