<ion-content padding id='bbcercle'>
  <div (swipe)="swipeEvent($event)">
    <br>
    <ion-row>
      <ion-col col-1>
        <ion-icon class='arrow' name="arrow-back" (click)="openPublicationPage()"></ion-icon>
      </ion-col>

      <ion-col col-10>
        <h1 text-center text-sm-ceter text-md-center text-lg-center>BB CERCLE</h1>
      </ion-col>

      <ion-col col-1>
        <ion-icon class='arrow' name="arrow-forward" (click)="openCollectionPage()"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- pull to refresh -->
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingText="<p>Tirez pour rafraîchir...</p>" refreshingText="<p>Chargement en cours...</p>">
      </ion-refresher-content>
    </ion-refresher>

    <!-- main content -->
    <ion-card #threadcard *ngFor="let thread of threads">
      <ion-card-content class='card-head' (click)="openPostPage(thread.id)">
        <img *ngIf="thread.category_id==2" class='etiquette' alt="flag" src="assets/imgs/etiquette-green-full.png" />
        <img *ngIf="thread.category_id==3" class='etiquette' alt="flag" src="assets/imgs/etiquette-red-full.png" />
        <img *ngIf="thread.category_id==4" class='etiquette' alt="flag" src="assets/imgs/etiquette-brown-full.png" />

        <ion-row class='head'>
          <ion-col col-2 class="canvas-col">
            <canvas [id]="'thread-canvas-' + thread.id"></canvas>
          </ion-col>
          <ion-col col-9 text-left>
            <h2 class='name-location'>{{ thread.author.firstname }}</h2>
            <b class='name-location'>{{ thread.location }}</b>
          </ion-col>
          <ion-col col-1>
            <!-- <ion-icon name="more" (click)="presentPopover($event)" color="dark"></ion-icon> -->
          </ion-col>
        </ion-row>
      </ion-card-content>

      <ion-card-content class='card-content' (click)="openPostPage(thread.id)">
        <p>{{ thread.content.length
          < 255 ? thread.content : (thread.content.substring(0, 255) + '...')}}</p>
      </ion-card-content>

      <img *ngIf="thread.main_image" [src]="thread.main_image.original.url" class='post-image' (click)="openPostPage(thread.id)" />

      <ion-row class='foot'>
        <ion-col col-6 text-left>
          <ion-icon name="star-outline" color="backgroundWhite"></ion-icon>
          <b class='time'>{{ thread.timeSince }}</b>
        </ion-col>
        <ion-col col-6 text-right>
          <ion-icon [name]="thread.favorite ? 'star' : 'star-outline'" (click)="toggleCollection(thread)" class='collection'></ion-icon>
          <b>{{ thread.favorite_count }}</b>
          <ion-icon [name]="thread.like ? 'heart' : 'heart-outline'" (click)="toggleLike(thread)" class='like'></ion-icon>
          <b>{{ thread.like_count }}</b>
          <ion-icon [name]="'square-outline'" (click)="openPostPage(thread.id)" class='comment'></ion-icon>
        </ion-col>
      </ion-row>

    </ion-card>

    <!-- reach bottom to load more-->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
      <ion-infinite-scroll-content *ngIf="page !== 0" loadingText="<p>Chargement en cours...</p>">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="page === 0">Plus de données disponibles.</div>

  </div>
  
  <ion-fab right bottom #fab>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="backgroundWhite" (click)="openSearchPage()"><ion-icon name="search" color = "primary"></ion-icon></button>
      <button ion-fab color="backgroundWhite" (click)="openNewPostPage()"><ion-icon name="add"  color = "primary"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
